interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.ContainerRegistry/features/RegionalEndpoints?api-version=2021-07-01
  response:
    body:
      string: '{"properties":{"state":"Registered"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Features/providers/Microsoft.ContainerRegistry/features/RegionalEndpoints","type":"Microsoft.Features/providers/features","name":"Microsoft.ContainerRegistry/RegionalEndpoints"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "centraluseuap", "sku": {"name": "Premium"}, "properties":
      {"adminUserEnabled": false, "regionalEndpoints": "Enabled", "networkRuleBypassAllowedForTasks":
      false, "anonymousPullEnabled": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002?api-version=2026-01-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002","name":"clitestre000002","location":"centraluseuap","tags":{},"systemData":{"createdBy":"test@example.com","createdByType":"User","createdAt":"2026-01-29T21:07:55.7825533+00:00","lastModifiedBy":"test@example.com","lastModifiedByType":"User","lastModifiedAt":"2026-01-29T21:07:55.7825533+00:00"},"properties":{"loginServer":"clitestre000002.azurecr.io","creationDate":"2026-01-29T21:07:55.7825533Z","provisioningState":"Creating","adminUserEnabled":false,"networkRuleSet":{"defaultAction":"Allow","ipRules":[]},"policies":{"quarantinePolicy":{"status":"disabled"},"trustPolicy":{"type":"Notary","status":"disabled"},"retentionPolicy":{"days":7,"lastUpdatedTime":"2026-01-29T21:08:02.9847382+00:00","status":"disabled"},"exportPolicy":{"status":"enabled"},"azureADAuthenticationAsArmPolicy":{"status":"enabled"},"softDeletePolicy":{"retentionDays":7,"lastUpdatedTime":"2026-01-29T21:08:02.9848284+00:00","status":"disabled"}},"encryption":{"status":"disabled"},"dataEndpointEnabled":false,"regionalEndpoints":"Enabled","dataEndpointHostNames":[],"regionalEndpointHostNames":["clitestre000002.centraluseuap.geo.azurecr.io"],"endpointProtocol":"IPv4","privateEndpointConnections":[],"publicNetworkAccess":"Enabled","networkRuleBypassOptions":"AzureServices","networkRuleBypassAllowedForTasks":false,"zoneRedundancy":"Disabled","anonymousPullEnabled":false,"metadataSearch":"Disabled","roleAssignmentMode":"LegacyRegistryPermissions","autoGeneratedDomainNameLabelScope":"Unsecure"}}'
    headers:
      api-supported-versions:
      - 2026-01-01-preview
      azure-asyncoperation:
      - https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002/operationStatuses/registries-93d18947-fd56-11f0-a01a-7c1e526b4853?api-version=2026-01-01-preview&t=639053176831424216&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0OSBFVTJDIENBIDAxMB4XDTI2MDEyMzE3MzIzM1oXDTI2MDQxODIzMzIzM1owQDE-MDwGA1[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://centraluseuap.management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002/operationStatuses/registries-93d18947-fd56-11f0-a01a-7c1e526b4853?api-version=2026-01-01-preview&t=639053176831424216&c=MIIH9DCCBtygAwIBAgIQEWR14AiFYWFBijpriMcSqDANBgkqhkiG9w0BAQsFADA2MTQwMgYDVQQDEytDQ01FIEcxIFRMUyBSU0EgMjA0OCBTSEEyNTYgMjA0[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002/replications?api-version=2025-03-01-preview
  response:
    body:
      string: '{"value":[]}'
    headers:
      api-supported-versions:
      - 2020-11-01-preview, 2021-06-01-preview, 2021-08-01-preview, 2021-09-01, 2021-12-01-preview,
        2022-02-01-preview, 2022-12-01, 2023-01-01-preview, 2023-06-01-preview, 2023-07-01,
        2023-08-01-preview, 2023-11-01-preview, 2024-01-01-preview, 2024-11-01-preview,
        2025-03-01-preview, 2025-04-01, 2025-05-01-preview, 2025-06-01-preview, 2025-09-01-preview,
        2025-11-01, 2025-12-01-preview, 2026-01-01-preview
      content-type:
      - application/json; charset=utf-8
      x-ms-original-request-ids:
      - ''
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_000001/providers/Microsoft.ContainerRegistry/registries/clitestre000002?api-version=2025-03-01-preview
  response:
    body:
      string: '{"sku":{"name":"Premium","tier":"Premium"},"type":"Microsoft.ContainerRegistry/registries","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_acrre_0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/centraluseuap/operationResults/registries-9dcab8db-fd56-11f0-a5f5-7c1e526b4853?api-version=2025-03-01-preview&t=639053176915712645&c=MIIHhzCCBm-gAwIBAgITfAoFj3UnLFat7-UOvQAACgWPdTANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0EgMDUwHhcNMjYwMTE1MTE[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ContainerRegistry/locations/centraluseuap/operationResults/registries-9dcab8db-fd56-11f0-a5f5-7c1e526b4853?api-version=2025-03-01-preview&t=639053176921080528&c=MIIHpTCCBo2gAwIBAgITOgZElHM1nBrt7NMepgAEBkSUczANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSU5GUkEgQ0EgMDEwHhcNMjYwMTIzMDQ[...]
